<div class="item-swiper__container">
    <img class="item-swiper__background-container" src="//source.unsplash.com/random" alt="#">
    <div class="swiper itemSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container">
                    <div class="panel">
                        <div class="panel-container">
                            <img src="//source.unsplash.com/random" alt="">
                            <div class="panel-content">
                                <h2>MACHU PICCHU<br>- PERU</h2>
                                <p>Adventure is never far away</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="container">
                    <div class="panel">
                        <div class="panel-container">
                            <img src="//source.unsplash.com/random" alt="">
                            <div class="panel-content">
                                <h2>MACHU PICCHU<br>- PERU</h2>
                                <p>Adventure is never far away</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="container">
                    <div class="panel">
                        <div class="panel-container">
                            <img src="//source.unsplash.com/random" alt="">
                            <div class="panel-content">
                                <h2>MACHU PICCHU<br>- PERU</h2>
                                <p>Adventure is never far away</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="container">
                    <div class="panel">
                        <div class="panel-container">
                            <img src="//source.unsplash.com/random" alt="">
                            <div class="panel-content">
                                <h2>MACHU PICCHU<br>- PERU</h2>
                                <p>Adventure is never far away</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="item-swiper-button-prev">
       <svg>
            <use href="#arrow"></use>
       </svg>
    </button>
    <button class="item-swiper-button-next">
        <svg>
            <use href="#arrow"></use>
       </svg>
    </button>
</div>


<div class="marquee-container">
    <div class="marquee">
        <div class="marquee__text">
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
        </div>

        <div class="marquee__text">
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
            <span>PRISM</span>
            <span class="--bold">PRISM</span>
        </div>
    </div>
</div>

<div class="bread-crumbs">
    <a href="#">главная</a>
    >
    <a href="#">свет</a>
    >
    <a href="#">подвесной свет</a>
    >
    <a href="#">заголовок</a>
</div>

<section class="item-article">
    <div class="item-article__inner">
        <div class="item-article__title">
            <h2>Заголовок</h2>
            <div class="item-article__date">
                дата публикации: 15 сентября 2023
            </div>
        </div>

        <div class="item-article__text">
            <p>
                "Fregio - это результат исследования отношений между светом и объемом", - отмечает дизайнер
                Andrea
                Anastasio. "На протяжении столетий барельефные панно украшали жилые интерьеры или экстерьеры
                домов и
                дворцов,практически
            </p>
        </div>
    </div>

    <div class="item-article__inner">
        <div class="item-article__title">
            <h2>Заголовок</h2>
            <div class="item-article__date">
                дата публикации: 15 сентября 2023
            </div>
        </div>

        <div class="item-article__text">
            <p>
                "Fregio - это результат исследования отношений между светом и объемом", - отмечает дизайнер
                Andrea
                Anastasio. "На протяжении столетий барельефные панно украшали жилые интерьеры или экстерьеры
                домов и
                дворцов,практически
            </p>

            <ul>
                <li>• маша любит мороженое</li>
                <li>• маша любит мороженое</li>
                <li>• маша любит мороженое</li>
                <li>• маша любит мороженое</li>
            </ul>
        </div>
    </div>

    <div class="item-article__inner">
        <div class="item-article__title">
            <h2>Заголовок</h2>
            <div class="item-article__date">
                дата публикации: 15 сентября 2023
            </div>
        </div>

        <div class="item-article__text">
            <p>
                "Fregio - это результат исследования отношений между светом и объемом", - отмечает дизайнер
                Andrea
                Anastasio. "На протяжении столетий барельефные панно украшали жилые интерьеры или экстерьеры
                домов и
                дворцов,практически
            </p>
        </div>
    </div>

    <div class="item-article__questions">
        <p>по вопросам приобретения/консультации отправьте запрос по электронной почте <a
                href="mailto:uno@trelogue.ru">uno@trelogue.ru</a></p>
    </div>
</section>