<section class="swiper mySwiper">
	<div class="swiper-wrapper split">
		<div class="swiper-slide">
			<div class="screen">
				<img src="https://images.unsplash.com/photo-1560092680-21bd606d2c08?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
					alt="#">
				<a href="#" class="content">
					<h2>Metro Station</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit rutrum lectus ut
						pellentesque. Suspendisse convallis dignissim tempor. Vestibulum sed vestibulum odio. Proin
						lobortis
						sagittis.</p>
				</a>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="screen">
				<img src="https://images.unsplash.com/photo-1550064562-7c8519549258?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80"
					alt="#">
				<a href="#" class="content">
					<h2>A Lonely Sign</h2>
					<p>Proin convallis libero a odio efficitur mollis. Fusce consectetur tempus lacus id suscipit.
						Curabitur sit
						amet ante lacinia, tempus magna vitae, volutpat elit. Lorem ipsum dolor sit amet, consectetur
						adipiscing.</p>
				</a>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="screen">
				<img src="https://images.unsplash.com/photo-1556828520-39687e44ff64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
					alt="#">
				<a href="#" class="content">
					<h2>Waiting Queue</h2>
					<p>Nam ut risus consequat, dictum diam gravida, viverra urna. Duis sollicitudin ante ac elit
						volutpat, vitae
						luctus turpis ornare. Quisque enim dolor, euismod ac ipsum sit amet, placerat porta lectus.</p>
				</a>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="screen">
				<img src="https://images.unsplash.com/photo-1556828520-39687e44ff64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
					alt="#">
				<a href="#" class="content">
					<h2>Waiting Queue</h2>
					<p>Nam ut risus consequat, dictum diam gravida, viverra urna. Duis sollicitudin ante ac elit
						volutpat, vitae
						luctus turpis ornare. Quisque enim dolor, euismod ac ipsum sit amet, placerat porta lectus.</p>
				</a>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="screen">
				<img src="https://images.unsplash.com/photo-1556828520-39687e44ff64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
					alt="#">
				<a href="#" class="content">
					<h2>Waiting Queue</h2>
					<p>Nam ut risus consequat, dictum diam gravida, viverra urna. Duis sollicitudin ante ac elit
						volutpat, vitae
						luctus turpis ornare. Quisque enim dolor, euismod ac ipsum sit amet, placerat porta lectus.</p>
				</a>
			</div>
		</div>
	</div>
</section>



<div class="main-text">
	<p>
		В мире света, мебели и материалов невозможно обойтись без чувства дизайна своего или профессионального
		дизайнера
		интерьеров, чей горизонт вкусов, может быть и, проверен временем, но бесконечно узок и не в состоянии
		воплотить
		концепцию пространства резидентского или коммерческого как части внутреннего мира его мастера. Treluce - это
		информация о светильниках, предметах мебели и материалах, связанных с дизайном от итальянских производителей
		из
		первых рук. Без AI.
	</p>
</div>

<div class="marquee-container">
	<div class="marquee">
		<div class="marquee__text">
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
		</div>

		<div class="marquee__text">
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
			<span>PRISM</span>
			<span class="--bold">PRISM</span>
		</div>
	</div>
</div>

<div class="bread-crumbs">
	<a href="#">главная</a>
</div>

<div class="main-cards">
	<div class="main-cards__inner">
		<div class="main-cards__img">
			<img src="https://images.unsplash.com/photo-1550064562-7c8519549258?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80"
				alt="#">
		</div>

		<h2>Заголовок</h2>
		<div class="main-card__date">
			дата публикации: 15 сентября 2023
		</div>

		<div class="main-card__text">
			<p>
				"Fregio - это результат исследования отношений между светом и объемом", - отмечает дизайнер
				Andrea
				Anastasio. "На протяжении столетий барельефные панно украшали жилые интерьеры или экстерьеры
				домов и
				дворцов,практически <a href="#">читать дальше</a>
			</p>
		</div>

		<ul>
			<li>раздел: свет</li>
			<li>подраздел: подвесной светильник</li>
		</ul>
	</div>

	<div class="main-cards__inner">
		<div class="main-cards__img">
			<img src="https://images.unsplash.com/photo-1550064562-7c8519549258?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80"
				alt="#">
		</div>

		<h2>Заголовок</h2>
		<div class="main-card__date">
			дата публикации: 15 сентября 2023
		</div>

		<div class="main-card__text">
			<p>
				"Fregio - это результат исследования отношений между светом и объемом", - отмечает дизайнер
				Andrea
				Anastasio. "На протяжении столетий барельефные панно украшали жилые интерьеры или экстерьеры
				домов и
				дворцов,практически <a href="#">читать дальше</a>
			</p>
		</div>

		<ul>
			<li>раздел: свет</li>
			<li>подраздел: подвесной светильник</li>
		</ul>
	</div>

	<button class="main-card__more-cards">
		еще публикации
	</button>
</div>